@media (aspect-ratio: 16/9) {
  .video-foreground {
    height: 300% !important;
    top: -100% !important;
    
    width: 100% !important;
    left: 0 !important;
  }
  
  html {
    scrollbar-width: none;
  }
}
