@media (aspect-ratio: 16/9) {
  .video-foreground {
    width: 100% !important;
    left: 0 !important;
  }
  
  #vid-bac > p {
    transform : translateY(60px);
  }
  
  html {
    scrollbar-width: none;
  }
}

#vid-bac > p {
  transition: transform 1.2s ease-in-out;
}
